.Deck {
    text-align: center;
}

.Deck-gimmie {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 0 10px;
}

.Deck-gimmie:hover {
    cursor: pointer;
    background-color: #444;
}

.Deck-gimmie:active,
.Deck-gimmie:focus {
    outline: none;
}

.Deck-cardarea {
    margin-top: 80px;
}